= simple_form_for @wiki, html: { class: 'form-horizontal' } do |f|
  = f.input :title

  = f.input :content, input_html: { style: "display:none" }
  #epiceditor

  - if policy(@wiki).make_private?
    = f.input :private, boolean_style: :inline
  %br
  
  = f.button :submit, class: 'btn btn-primary'

:javascript
  var opts = {
  container: 'epiceditor',
  textarea: 'wiki_content',
  basePath: '/epiceditor'
  }
  var editor = new EpicEditor(opts).load();